@import "bootstrap";
@import "font-awesome/scss/font-awesome";

$rating-border-width: 5px;
$rating-color-danger: #ff0000;
/*$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger: */

@mixin border-with-color($color) {
  border-top: $rating-border-width solid $color;
  margin-top: -$rating-border-width;
}

body {
  min-height: 2000px;
}

.container {
  max-width: 990px;
}

.rating-container {
  width: 100%;
  border-top: $rating-border-width solid $gray-lighter;
}

.rating-1 {
  @include border-with-color($brand-danger)
}

.rating-2 {
  @extend .rating-1;
}

.rating-3 {
  @extend .rating-1;
}

.rating-4 {
  @include border-with-color($brand-warning);
}

.rating-5 {
  @extend .rating-4;
}

.rating-6 {
  @extend .rating-4;
}

.rating-7 {
  @include border-with-color($brand-success);
}

.rating-8 {
  @extend .rating-7;
}

.rating-9 {
  @extend .rating-7;
}

.rating-10 {
  @extend .rating-7;
}

.rating-h3 {
  padding: 0 5px;
  display: inline-block;
  font-size: 32px;
  background: rgba(51, 51, 51, 0.80);
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.rating-relative {
  position: relative;
}

.angular-google-map-container {
  height: 400px;
  width: 400px;

}

.fa-caret-up, .fa-caret-down {
  cursor: pointer;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.angular-google-map-container {
  height: 500px;
  width: 100%;
}

.td-cell {
  text-align: center;
  cursor: pointer;
}

.td {
  margin-top: 5px;
  padding: 5px 0;
}

.bg-gray-lighter {
  background-color: $gray-lighter;
}

.background-warning {
  background-color: $brand-danger;
  color: #FFFFFF;
}

.background-info {
  background-color: $brand-info;
}

.bg-white {
  color: #FFFFFF;
}

.btn, .panel,
.nav-tabs-justified > li > a,
.nav-tabs.nav-justified > li > a,
.well-sm, .img-thumbnail,
.form-control,
.alert {
  border-radius: 1px !important;
}

.navbar {
  .container {
    padding-right: 0;
  }
}

.field-list-container {
  .btn-reserve {
    float: right;
    margin-top: 20%;
  }
}
