<div>
    <!--<img ng-src="../uploads/fields/{{field.photos[0].url}}" class="img-responsive"/>-->
    <!--<img src="https://scontent-ams2-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/18186_10153273460677838_6811522147210102671_n.png?oh=cb15d402b30e1782c22c5189742d2cde&oe=561274E1"/>-->
</div>
<tabset justified="true">
    <tab heading="Overview">
        <br>

        <div class="row">
            <div class="col-lg-4 text-center">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{field.company.name}} - {{field.name}}
                    </div>
                    <div class="panel-body">
                        <p>{{totalAvg}} / 5 (total {{reviewCount}})</p>

                        <p>{{field.company.address}}</p>

                        <p><span class="fa fa-clock-o fa-3x"></span></p>

                        <p>{{field.company.opens_at }} - {{field.company.closes_at}}</p>

                        <br/><br/>

                        <p><strong>{{field.price |currency:''}} {{'SOM' | translate}}</strong></p>

                        <br/>

                        <p><a href="#/field/{{field.id}}/reservations/" class="btn btn-sm btn-info btn-reserve">{{'RESERVE_NOW'|translate}}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">{{field.description}}</div>
        </div>
    </tab>
    <tab heading="Reviews">
        <br>

        <div class="row">
            <div class="col-lg-4">
                <div class="rating-container">
                    <div class="rating-{{field.average['location']|number:0}}"
                         style="width: {{field.average['location']*10}}%;">
                        <p><strong>{{'LOCATION' | translate}}: </strong>{{field.average['location']*10| number: 2}}</p>
                    </div>
                </div>

                <div class="rating-container">
                    <div class="rating-{{field.average['service']|number:0}}"
                         style="width: {{field.average['service']*10}}%;">
                        <p><strong>{{'SERVICE' | translate}}: </strong>{{field.average['service']*10 | number: 2}}</p>
                    </div>
                </div>
                <div class="rating-container">
                    <div class="rating-{{field.average['condition']|number:0}}"
                         style="width: {{field.average['condition']*10}}%;">
                        <p><strong>{{'CONDITION' | translate}}: </strong>{{field.average['condition']*10| number: 2}}</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div ng-repeat="review in reviews" class="well well-sm">
                    <h4><strong>{{review.average}}</strong></h4>

                    <p class="text-muted">/ {{'POSTED_BY'|translate}} {{review.user.name}}, {{review.created_at}}</p>

                    <p>
                        <span class="glyphicon glyphicon-plus text-success"></span>
                        {{review.opinion_positive}}</p>

                    <p>
                        <span class="glyphicon glyphicon-minus text-danger"></span>
                        {{review.opinion_negative}}</p>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Photos">
        <br>

        <div justified id="justified">
            <a ng-repeat="photo in field.photos" ng-href="./uploads/fields/{{photo.url}}" repeat-done>
                <img ng-src="./uploads/fields/{{photo.url}}"/>
            </a>
        </div>
    </tab>
    <tab heading="Similar">
        <br>
        Similar
    </tab>
    <tab heading="Map">
        <br>
        <ui-gmap-google-map center='field.map.center' zoom='field.map.zoom'></ui-gmap-google-map>
    </tab>
</tabset>