<div class="row">
    <div class="col-lg-3">
        <form>
            <div class="form-group">
                <div class="well well-sm"><label for="name">{{'NAME' | translate}}</label>
                    <input type="text" ng-model="name" class="form-control" name="name" id="name"></div>
            </div>
            <div class="form-group">
                <div class="well well-sm">
                    <rzslider rz-slider-floor="priceSlider.floor"
                              rz-slider-ceil="priceSlider.ceil"
                              rz-slider-model="priceSlider.min"
                              rz-slider-high="priceSlider.max">
                    </rzslider>
                </div>
            </div>
            <div class="form-group">
                <div class="well well-sm"><label for="sorting">{{'SORT_BY' | translate}}</label>
                    <select data-ng-model="orderByProperty" class="form-control" id="sorting">
                        <option value="name"> {{'NAME' | translate}}</option>
                        <option value="price">{{'PRICE_LOWEST'|translate}}</option>
                        <option value="-price">{{'PRICE_HIGHEST' | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="well well-sm">
                <p><strong>{{'ROOF'|translate}}</strong></p>

                <div class="radio">
                    <label><input type="radio" name="roof" ng-model="roof" value="1">{{'NO'|translate}}</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="roof" ng-model="roof" value="0">{{'YES'|translate}}</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="roof" ng-model="roof" value="2">{{'NEVER_MIND'|translate}}</label>
                </div>
            </div>
            <div ng-hide="moreFilters">
                <div class="well well-sm">
                    <!--START COVER FILTER-->
                    <p><strong>{{'COVER'|translate}}</strong></p>

                    <div class="checkbox" ng-repeat="cvr in cover.covers track by $index">
                        <label>
                            <input type="checkbox" checklist-model="cover.selectedCovers" checklist-value="cvr.id"/>
                            {{cvr.name}}
                        </label>
                    </div>
                    <!--END COVER FILTER-->
                </div>

                <!--START INFRASTRUCTURE FILTER-->
                <div class="well well-sm">
                    <p><strong>{{'INFRASTRUCTURE'|translate}}</strong></p>

                    <div class="checkbox" ng-repeat="inf in infrastructure.infrastructures i">
                        <label>
                            <input type="checkbox" checklist-model="infrastructure.selected"
                                   checklist-value="inf.id"/>{{ inf.name}}
                        </label>
                    </div>
                </div>
                <!--END INFRASTRUCTURE FILTER-->
                <div class="well well-sm">
                    <p><strong>{{'CATEGORIES'|translate}}</strong></p>

                    <div class="checkbox" ng-repeat="c in category.categories">
                        <label>
                            <input type="checkbox" checklist-model="category.selected" checklist-value="c.id">
                            {{c.name}}
                        </label>
                    </div>
                </div>
            </div>
            <hr/>
            <div>
                <a href="" ng-click="moreFilters = false" ng-show="moreFilters">
                    <span class="fa fa-caret-down"></span>{{'MORE_FILTERS'|translate}}
                </a>
                <a href="" ng-click="moreFilters = true" ng-hide="moreFilters">
                    <span class="fa fa-caret-up"></span>
                    {{'LESS_FILTERS'|translate}}
                </a>
            </div>
        </form>
    </div>
    <div class="col-lg-9">
        <p class="text-center" ng-show="loading"><span class="fa fa-spinner fa-5x fa-spin"></span></p>

        <div class="field-list-container"
             ng-repeat="field in fields | filter:name | orderBy:orderByProperty | rangeFilter:priceSlider | roofFilter:roof | coverFilter:cover.selectedCovers | categoryFilter:category.selected | infFilter:infrastructure.selected">
            <div class="row">
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-6">
                            <p class="text-center"><strong>{{field.price |
                                currency:""}} {{'SOM'|translate}}</strong></p>
                            <img class="img-thumbnail" ng-src="./uploads/fields_thumbnail/{{field.photos[0].url}}">
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-6">
                            <a href="#/field/{{field.id}}/reservations/" class="btn btn-sm btn-info btn-reserve">{{'RESERVE_NOW'|translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <p><a href="#/fields/{{field.id}}">{{field.company.name}} - {{field.name}}</a></p>

                    <p ng-init="field.isRatingCollapsed = true">
                        <rating ng-model="review.statistics[field.id]['average']" max="10" readonly="true"
                                class="text-danger"></rating>
                        (<strong>{{review.statistics[field.id]['number']}}</strong> reviews)
                        <span
                                data-toggle="collapse"
                                aria-expanded="false"
                                aria-controls="collapseRating"
                                data-target="#collapseRating-{{field.id}}"
                                ng-class="{'fa fa-caret-down':field.isRatingCollapsed,'fa fa-caret-up':!field.isRatingCollapsed}"
                                ng-click="field.isRatingCollapsed = !field.isRatingCollapsed">
                            {{'DETAILS'|translate}}
                        </span>
                    </p>
                    <div id="collapseRating-{{field.id}}" class="collapse">
                        <div class="rating-container">
                            <div class="rating-{{field.average['location']|number:0}}"
                                 style="width: {{field.average['location']*10}}%;">
                                <p>
                                    <strong>{{'LOCATION'|translate}}: </strong>{{field.average['location']*10|number:2}}
                                </p>
                            </div>
                        </div>

                        <div class="rating-container">
                            <div class="rating-{{field.average['service']|number:0}}"
                                 style="width: {{field.average['service']*10}}%;">
                                <p><strong>{{'SERVICE'|translate}}: </strong>{{field.average['service']*10|number:2}}
                                </p>
                            </div>
                        </div>
                        <div class="rating-container">
                            <div class="rating-{{field.average['condition']|number:0}}"
                                 style="width: {{field.average['condition']*10}}%;">
                                <p>
                                    <strong>{{'CONDITION'|translate}}: </strong>{{field.average['condition']*10|number:2}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <p>
                        <i class="fa fa-map-marker"></i>
                        <strong> {{'ADDRESS'|translate}}: </strong>
                        <a href="#/map/{{field.id}}">{{field.company.address }}</a>
                    </p>

                    <p>
                        <i class="fa fa-clock-o"></i>
                        <strong>{{'OPEN_HOURS' | translate}}:</strong> {{field.company.opens_at}} -
                        {{field.company.closes_at}}</p>

                    <p>
                        <i class="fa fa-building"></i>
                        <strong>{{'INFRASTRUCTURES' | translate}}:</strong>
                        <span ng-repeat="inf in field.infrastructures">{{inf.name}} <span
                                ng-hide="$last">,<span> </span>
                    </p>

                    <p ng-init="field.isCollapsed = true">
                        <span
                                ng-class="{'fa fa-caret-down':field.isCollapsed,'fa fa-caret-up':!field.isCollapsed}"
                                ng-click="field.isCollapsed = !field.isCollapsed">
                            {{'DETAILS'|translate}}
                        </span>

                    <div collapse="field.isCollapsed">
                        <tabset justified="true">
                            <tab heading="Details">
                                {{field.description}}
                            </tab>
                            <tab heading="Map">
                                <!--<ui-gmap-google-map center='field.map.center'
                                                    zoom='field.map.zoom'></ui-gmap-google-map>-->
                            </tab>
                        </tabset>
                    </div>
                    </p>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>