<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <ui-gmap-google-map center='field.map.coords' zoom='field.map.zoom'>
            <ui-gmap-marker coords="field.map.coords" options="field.map.options" events="field.map.events"
                            idKey="field.map.id">
            </ui-gmap-marker>
            <ui-gmap-marker ng-repeat="f in fields" coords="f.map.coords" options="f.map.options" events="f.map.events"
                            idKey="field.map.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>
