<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2" ng-repeat="date in dates">
                <div class="td td-cell background-info">{{ date}}</div>
            </div>
        </div>
        <div class="row" ng-repeat="hour in hours">
            <div class="col-md-2">
                <div class="td td-cell background-info">{{hour }}</div>
            </div>
            <div class="col-md-2" ng-repeat="date in dates">
                <div class="ng-class:isReserved(date,hour);" ng-click="addReserved(date,hour)">
                    {{hour}}
                </div>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button class="btn btn-default"><i class="fa fa-arrow-left"></i> {{'PREV'|translate}}</button>
                    <button class="btn btn-default">{{'TODAY'|translate}}</button>
                    <button class="btn btn-default">{{'NEXT'|translate}} <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">{{'RECEIPT'|translate}}</div>
            <div class="panel-body">
                <div class="alert alert-info alert-dismissible" role="alert" ng-repeat="r in reserved">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                            ng-click="removeReserved(r)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong class="bg-white">{{r}}</strong>
                </div>
                <div ng-show="reserved.length">
                    <p> {{'TOTAL'| translate}}: {{reserved.length * field.company.time_split}} (minutes)</p>
                    <button type="button" class="btn btn-primary" ng-click="store()">{{'RESERVE'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>