<div class="col-sm-4 col-sm-offset-4">
    <div class="well">
        <h3>{{'SIGN_UP'|translate}}</h3>

        <p ng-show="error" class="text-danger">{{'INVALID_CREDENTIALS'|translate}}</p>

        <form>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="auth.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
            </div>
            <button class="btn btn-primary " ng-click="signUp()">{{'SIGN_UP'|translate}}</button>
        </form>
    </div>
</div>